<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>The Wall</title>
        <meta description='Main Page for The Wall Message Board App'
        <meta charset='utf-8'/>
        <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='styles.css') }}' />
    </head>
    <body>
        <div id='header'>
            <div id='title'>
                <h1>CodingDojo Wall</h1>
            </div>
            <div id='logininfo'>
                <div id='username'>
                    {% if session['logged_in'] %}
                        <p>Welcome {{ session['user_first_name'] }}
                    {% else %}
                        <p>Welcome Anonymous</p>
                    {% endif %}
                </div>
                <div id='loginlogout'>
                    {% if session['logged_in'] %}
                    <p><a href="/logout">Logout</a></p>
                    {% else %}
                        <p><a href="/login">Login</a></p>
                    {% endif %}
                </div>
            </div> 
        </div>
        <div id='wrapper'>
            <div id='flasharea'>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>     
            <form action='/postmessage' method='POST' id="messageform">
                <p><label for="message">Post a message</label></p>
                <p><textarea from="messageform" maxlength="500" rows="4" name="message" id="message" placeholder="500 chars max"></textarea></p>
                <p><input type="submit" id='postmessagebutton' value="Post a message"></p>
            </form>
            <div id=messagesarea>
                <ul class='messagesheader'>
                    {% for em in user_messages %}                    
                    <li>{{ em.first_name }} {{ em.last_name }} - {{ em.datecreated }}</li>
                    <ul class='messagestext'>
                        <li id="messagebody">{{ em.message }}</li>
                        <ul class='commentsheader'>
                        {% for ec in user_comments %}                                    
                            {% if em.id == ec.message_id %}
                            <li>{{ ec.first_name }} {{ ec.last_name }} - {{ ec.datecreated }}</li>
                            <ul class='commentstext'>
                                <li id="commentbody">{{ ec.comment }}</li>
                            </ul>
                            {% endif %}
                        {% endfor %} 
                        <form action='/postcomment' method='POST' id="commentform">
                            <p><label for="comment">Post a comment</label></p>
                            <input type="hidden" name="messageid" value='{{ em.id }}'>
                            <p><textarea from="commentform" rows="4" maxlength="400" name="comment" id="comment" placeholder="400 chars max"></textarea></p>
                            <p><input type="submit" id='postcommentbutton' value="Post a comment"></p>
                        </form>
                        </ul>
                    </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <footer><p>By Troy Center, June 2017, Coding Dojo Student</p></footer>
    </body>
</html>